<div class="w-screen h-screen overflow-visible bg-[var(--bg)]">
    <div class="w-full h-screen relative">
        <img src="../../../../assets/images/image-leistungen-top.jpg" alt="" class="h-full w-full filter -sm:object-cover">

        <!--Kasten schräg-->
        <div class="inclined-box sm:w-[95%] md:w-3/5 h-[calc(100%-5rem)] -sm:w-screen bg-white/60 absolute top-20">
            <div class="w-[80%] h-full relative md:pt-10">
                <div class="w-full h-full py-10 sm:pl-10 -sm:pl-5">
                    <div class="heading_leistungen">
                        <h1 class="-sm:text-4xl sm:text-5xl lg:text-7xl text-left text-[var(--blue)] font-bold uppercase">Willkommen
                        in<br>der Zukunft der
                        <br>Heiz- & Energie<br class="md:hidden">branche!
                        </h1>

                    <p class="-sm:text-xl sm:text-2xl lg:text-3xl text-left font-medium sm:pt-10 -sm:pt-5">Wir unterstützen Sie bei
                        der Planung und Umsetzung Ihrer Wünsche in Sachen Heiz-, Klima- & Energieprojekte:</p>
                    </div>

                    <div class="absolute w-[calc(100%-3.5rem)] bottom-2">
                        <ul class="flex nav_sm:flex-wrap w-full justify-between">
                            <li *ngFor="let leistung of leistungen" class="group hover:-translate-y-3 pt-5 nav_sm:w-1/2 ease-in duration-300">
                                <img [src]="leistung.iconPath" alt="" class="h-16 w-16 mx-auto">
                                <p class="text-center text-[var(--blue)] -sm:text-xs group-hover:font-medium">{{leistung.name}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>