<footer class="w-full text-white bg-[var(--blue)] body-font">
    <div class="container flex flex-col flex-wrap px-5 pt-20 pb-12 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
        <div class="flex-shrink-0 w-40 mx-auto text-center md:mx-0 md:text-left">
            <a class="flex items-center justify-center font-medium text-white title-font md:justify-start">
                <img src="../../assets/images/roscher-gmbh-logo_white.png" alt="" class="object-fill">
            </a>
            <p class="object-fill">Roscher GmbH</p>
        </div>
        <div class="flex flex-wrap flex-grow mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left">
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                <h2 class="mb-3 text-sm font-semibold tracking-widest text-white  uppercase title-font">Firma</h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300" routerLink="">Willkommen</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Historie</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Karriere</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Partner</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                <h2 class="mb-3 text-sm font-semibold tracking-widest text-white uppercase title-font">Leistungen</h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Im Havariefall</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Heizung</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Sanitär</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Klima</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Lüftung</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                <h2 class="mb-3 text-sm font-semibold tracking-widest text-white uppercase title-font">Sonstiges
                </h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Datenschutz</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">AGB's</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300">Impressum</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                <h2 class="mb-3 text-sm font-semibold tracking-widest text-white uppercase title-font">Kontakt</h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300" routerLink="kontakt">Kontaktformular</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-300" routerLink="bewerbung">Bewerbungsformular</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
</footer>
