<div id="loesungen" class="w-screen my-10 sm:my-20 md:flex tablet:px-32">
    <!--Links(Text)-->
    <div class="loesungen_text md:w-2/5 md:pl-20 md:pr-6 -md:pb-8">
        <div class="-sm:max-w-[80%] -sm:mx-auto">
            <h1 class="heading text-[var(--blue)] text-left">Ihr Projekt - <br class="-md:hidden">unsere Lösungen:</h1>
            <p class="text text-justify">Die Roscher GmbH unterstützt gewerbliche und private Kunden bei der Planung und
                Realiserung Ihres Projektes</p>
            <p class="text text-justify">Dabei setzen wir stets auf <span class="text-[var(--accent)]">modernste
                    Technik</span> und <span class="text-[var(--accent)]">beste Verfahren</span>!</p>
        </div>
        <div class="-sm:max-w-[80%] -sm:mx-auto">
            <p class="text text-justify">Mehr text muss hier noch hin.. Damit es nicht so leer ausieht. </p>
            <p class="text text-justify">Wir haben uns in der Branche der Installationstechnik auf intelligente Klima-
                und Heizsystem spezialisert.</p>
        </div>
    </div>

    <!--Rechts(Cards)-->
    <div class="md:w-3/5">

        <!--Card1/2-->
        <div class="loesungen_cards_top sm:flex justify-center gap-10 tablet:justify-between">
            <app-service-item-v2 imageSrc="../../../../../assets/images/image_energie.jpg" title="erneuerbare Energien"
                text="">
            </app-service-item-v2>

            <app-service-item-v2 imageSrc="../../../../../assets/images/image_heizsystem.jpg"
                title="intelligente Heizsysteme" text="">
            </app-service-item-v2>
        </div>


        <!--Card3/4-->
        <div class="loesungen_cards_bottom sm:flex justify-center gap-10 sm:pt-8 tablet:justify-between">
            <app-service-item-v2 imageSrc="../../../../../assets/images/image_sanitaer.jpg"
                title="moderne Sanitäranlagen" text="">
            </app-service-item-v2>

            <app-service-item-v2 imageSrc="../../../../../assets/images/image_klimaanlage.jpg"
                title="smarte Klima- & Lüftungsanlagen" text="">
            </app-service-item-v2>
        </div>
    </div>
</div>