<div class="sm:w-5/6 mx-auto">
    <h1 class="heading_sm text-[var(--blue)] text-center -sm:pt-5 sm:pt-10 pb-5 -sm:px-5">Barrierefreie Bäder</h1>

    <div class="pb-5">
        <p class="text text-justify -sm:px-5">
            Barrierefreie Bäder sind so gestaltet, dass sie von Menschen mit eingeschränkter Mobilität oder
            anderen körperlichen Einschränkungen sicher und komfortabel genutzt werden können. Bei der
            Planung solcher Bäder gibt es einige wichtige Aspekte zu beachten.
        </p>
        <ul class="vorteile pt-5 text -sm:px-5">
            <li><span class="underline">Zugänglichkeit:</span> Ermöglicht Menschen mit körperlichen Einschränkungen, das
                Bad selbstständig zu
                nutzen z.B.: bodengleiche Dusche / Wanne, ausreichende Bewegungsfläche höhenverstellbare
                Elemente, unterfahrbare Waschbecken</li>
            <li><span class="underline">Sicherheit:</span> Reduziert das Risiko von Unfällen im Bad z.B.: Haltegriffe und Stützsysteme, rutschfeste
                Böden</li>
            <li><span class="underline">Sicherheit:</span> Auch im Alter oder bei vorübergehenden körperlichen Einschränkungen
                nutzbar</li>
            <li><span class="underline">Wertsteigerung der Immobilie:</span> Ein barrierefreies Bad kann den Wert einer Immobilie steigern</li>
        </ul>
    </div>

    <div>
        <img src="../../../../../../../assets/images/image_sanitaer1.jpg" alt="" class="h-[80vh] w-full object-cover">
    </div>
</div>