<div class="w-full sm:h-96 sm:flex justify-center gap-2 -md:hidden">
    <div *ngFor="let card of cards" class="card relative" (mouseenter)="addActive($event)">
        <img [src]="card.image" alt="">
        <div class="absolute bottom-0 bg-[var(--blue)] w-full h-10 z-10 ease-in duration-300" [ngClass]="{'menu': menuOpened}">
            <div class="tham tham-e-squeeze tham-w-6 mx-auto pt-4" (click)="toggleMenu($event)">
                <div class="tham-box">
                  <div class="tham-inner bg-white"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-full flex flex-col md:hidden">
    <div *ngFor="let card of cards" class="aos-animate aos-init h-[400px] w-[90%] mx-auto pb-6" data-aos="fade-up" data-aos-duration="1000">
        <img [src]="card.image" alt="" class="rounded-xl h-full w-full object-cover">
        
    </div>
</div>