.card{
    width: 10%;
    height: 100%;
    transition: ease-in 300ms;
    border-radius: 10px;
    overflow: hidden;
}

.active{
    width: 20%;
}

.card img{
    height: 100%;
    object-fit: cover;
    
}

.active .menu{
    height: 80% !important;
}