<section class="w-screen overflow-hidden bg-gray-100">
    <div class="w-full h-full">
        <div class="pt-6 min-[700px]:pt-12 pb-2 text-center">
            <h2 class="text-3xl font-semibold text-[var(--blue)] min-[700px]:text-4xl">Deine <span class="text-[var(--red)]">Karriere</span> bei uns:</h2>
        </div>

        <div class="max-w-[90%] mx-auto mt-5
        min-[700px]:mt-10 min-[700px]:flex">

            <div class="w-1/3 bg-gray-300 p-4 rounded-xl shadow-xl shadow-gray-500
            min-[700px]:mr-2
            max-[700px]:w-full">
                <h2 class="font-bold text-[var(--blue)] text-2xl">Das erwartet dich bei uns:</h2>
                <ul>
                    <li>
                        <p>Eins</p>
                    </li>
                </ul>
            </div>

            <div class="w-2/3 bg-gray-300 p-4 rounded-xl shadow-xl shadow-gray-500
            min-[700px]:ml-2
            max-[700px]:w-full">

            </div>
        </div>

        <div class="max-w-[90%] mx-auto mt-5
        min-[700px]:mt-10 min-[700px]:flex">

            <div class="w-2/3 bg-gray-300 p-4 rounded-xl shadow-xl shadow-gray-500
            min-[700px]:mr-2
            max-[700px]:w-full">

            </div>

            <div class="w-1/3 bg-gray-300 p-4 rounded-xl shadow-xl shadow-gray-500
            min-[700px]:ml-2
            max-[700px]:w-full">
                <h2 class="font-bold text-[var(--blue)] text-2xl">Was wir bieten:</h2>
                <ul>
                    <li>
                        <p>Eins</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="max-w-[90%] mx-auto mt-5
        min-[700px]:mt-10 min-[700px]:flex">

            <div class="w-1/3 bg-gray-300 p-4 rounded-xl shadow-xl shadow-gray-500
            min-[700px]:mr-2
            max-[700px]:w-full">
                <h2 class="font-bold text-[var(--blue)] text-2xl">Wir stellen ein:</h2>
                <ul>
                    <li>
                        <p>Eins</p>
                    </li>
                </ul>
            </div>

            <div class="w-2/3 bg-gray-300 p-4 rounded-xl shadow-xl shadow-gray-500
            min-[700px]:ml-2
            max-[700px]:w-full">
                
            </div>
        </div>

    </div>
</section>
