.open{
    top: 5rem !important;
    height: 220px !important;
    padding: 2rem 0;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background-size .4s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 50% 100%
}

li.active .link-underline{
    background-size: 100% 3px;
    background-position: 50% 100%

}

/*
.navbar{
    position: absolute;
    opacity: 0;
    transform: translateY(-100%);
}

.navbar:hover{
    opacity: 100;
    transform: translateY(0);
}

.opener:hover + .navbar{
    opacity: 100;
    transform: translateY(0);
}

.opener:hover span{
    transform: rotate(-180deg);
}*/

.home-item, .service-item, .unternehmen-item{
    position: relative;
    cursor: pointer;
}

.home-menu, .service-menu, .unternehmen-menu{
    cursor: pointer;
    display: none;
    position: absolute;
    padding: 26px 0 0 0;
    width: 120%;
    top: 100%;
    left: -10%;
    transition: ease-in 500ms;
    color: #fff;
    font-size: 0.9rem;
}

.home-menu li:hover, .service-menu li:hover, .unternehmen-menu li:hover{
    color: var(--red);
}

.home-item:hover .home-menu, .service-item:hover .service-menu, .unternehmen-item:hover .unternehmen-menu{
    display: block;
}
