<div [ngClass]=" left ? '' : 'min-[700px]:flex-row-reverse' "
class="relative flex items-center justify-between min-[700px]:justify-normal group is-active {{translateTop}} {{paddingBottom}}
max-[700px]:pb-4 max-[700px]:mr-4">
    <!-- Icon -->
    <div [ngClass]=" left ? 'min-[700px]:translate-x-7' : 'min-[700px]:-translate-x-7' "
    class="flex items-center justify-center w-6 h-6 rounded-full border border-white bg-[var(--blue)] shadow shrink-0 
    min-[700px]:order-1 
    max-[700px]:translate-x-2">
        <span *ngIf="left" class="material-symbols-outlined text-white">
            chevron_left
        </span>
        <span *ngIf="!left" class="material-symbols-outlined text-white">
            chevron_right
        </span>
    </div>

    <!-- Card -->
    <div class="w-[calc(100%-4rem)] min-[700px]:w-[calc(50%-2.5rem)] bg-[var(--blue)] p-4 rounded-md">
        <div class="flex items-center justify-between space-x-2 mb-1">
            <div class="font-bold text-[var(--red)] text-xl"> {{ title }} </div>
        </div>
        <div class="text-white"> {{ message }} <div>
    </div>

    <div *ngIf="image" class="w-full mt-1 {{imageHeight}}">
        <img [src]="imageSource" alt="" class="w-full h-full object-cover">
    </div>
</div>
