<section id="benefit" class="bg-[var(--blue)]">
    <div class="containerS">
      <h1 class="font-bold text-[var(--bg)] text-4xl text-center">Welche Vorteile genießen Sie durch unsere Zusammenarbeit?</h1>
    </div>
    <div class="containerS">
      <div class="swiper benefit-slider">
        <div class="swiper-wrapper">
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
        </div>

        <div class="benefit-slider-control">
          <div class="swiper-button-prev slider-arrow">
            <span class="material-symbols-outlined">navigate_before</span>
          </div>
          <div class="swiper-button-next slider-arrow">
            <span class="material-symbols-outlined">navigate_next</span>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>
  </section>