<section id="benefit" class="w-screen bg-[var(--blue)] pt-5 min-[700px]:pt-10">

    <h1 class="heading text-[var(--bg)] text-center">Welche Vorteile genießen Sie durch unsere Zusammenarbeit?</h1>

    <div class="containerS">
      <div class="swiper benefit-slider">
        <div class="swiper-wrapper">
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide benefit-slide">
            <div class="benefit-slide-img">
              <img src="../../../assets/images/Azubi_Anlagenmechaniker_web.jpg" alt="benefit">
            </div>
          </div>
          <!-- Slide-end -->
        </div>

        <div class="benefit-slider-control flex justify-center items-center">
          <div class="swiper-button-prev slider-arrow">
            <span class="material-symbols-outlined">navigate_before</span>
          </div>
          <div class="swiper-button-next slider-arrow">
            <span class="material-symbols-outlined">navigate_next</span>
          </div>
          <div class="swiper-pagination pt-5"></div>
        </div>

      </div>
    </div>
  </section>