<div [ngClass]=" left ? '' : 'sm:flex-row-reverse' "
class="relative flex items-center justify-between sm:justify-normal group is-active {{translateTop}} {{paddingBottom}}
-sm:pb-4 -sm:mr-4">
    <!-- Icon -->
    <div [ngClass]=" left ? 'sm:translate-x-7' : 'sm:-translate-x-7' "
    class="flex items-center justify-center w-6 h-6 rounded-full border border-white bg-[var(--blue)] shadow shrink-0 
    sm:order-1 
    -sm:translate-x-2">
        <span *ngIf="left" class="material-symbols-outlined text-white">
            chevron_left
        </span>
        <span *ngIf="!left" class="material-symbols-outlined text-white">
            chevron_right
        </span>
    </div>

    <!-- Card -->
    <div [ngClass]="left ? 'sm:border-r-4 sm:text-right' : 'sm:border-l-4 sm:text-left' " class="w-[calc(100%-4rem)] sm:w-[calc(50%-2.5rem)] border-[var(--blue)] -sm:border-l-4 p-4 ">
        <h2 class="font-bold text-[var(--red)] text-xl">{{ title }}</h2>
        <div class="text-[var(--blue)]"> {{ message }} <div>
    </div>

    <div *ngIf="image" class="w-full mt-1 {{imageHeight}}">
        <img [src]="imageSource" alt="" class="w-full h-full object-cover">
    </div>
</div>
