<div class="w-full m-auto py-5 px-1 bg-gray-100
min-[700px]:px-6 min-[1000px]:flex">

    <div class="animate__animated animate__fadeInLeft px-4 mx-2 pt-10 rounded-xl bg-gray-300 shadow-xl shadow-gray-500
    min-[1000px]:w-1/3 min-[1000px]:mx-5 max-[700px]:mb-6">
        <h2 class="font-bold text-[var(--blue)] text-4xl">Kontaktieren Sie uns ganz einfach online!</h2>
        <div class="py-6">
            <div class="py-2 text-xl">
                <p>Ihre Fragen, Anregungen oder andere Nachrichten direkt online absenden.</p>
                <p>Alternativ können Sie uns auch unter unserer Anschrift kontaktieren:</p>
            </div>
            <div class="py-2 text-xl text-[var(--red)]">
                <p class="font-semibold">Roscher GmbH</p>
                <p class="font-semibold">Neumarkt 5</p>
                <p class="font-semibold">09661 Hainichen</p>
            </div>
            <div class="py-2 min-[700px]:pt-10 text-xl">
                <p>Oder rufen Sie uns einfach an:</p>
            </div>
            <div class="py-2 text-xl text-[var(--red)]">
                <p class="font-semibold">037207 8960</p>
            </div>
        </div>
    </div>

    <div class="animate__animated animate__fadeInRight pt-10 mx-2 bg-gray-300 rounded-xl shadow-xl shadow-gray-500
    min-[1000px]:w-2/3 min-[1000px]:mx-5">
        <form class="min-w-[200px] max-w-[1000px] w-full m-auto h-fullblock
                        sm:p-4 rounded-md" 
                        [formGroup]="contactForm" (ngSubmit)="sendMail()">

            <div class="min-[1000px]:flex min-[1000px]:justify-center">
                <div class="flex justify-center w-[90%] max-[1000px]:m-auto min-[1000px]:w-[45%] min-[1000px]:pr-2">
                    <mat-form-field class="example-full-width w-full m-auto mb-3">
                        <mat-icon matIconPrefix>person</mat-icon>
                        <mat-label class="">Name/Firma</mat-label>
                        <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="name" [(ngModel)]="name">
                        <mat-error *ngIf="contactForm.controls['name'].hasError('required')">
                            Vorname wird benötigt!
                        </mat-error>
                    </mat-form-field>
                </div>
    
                <div class="flex justify-center w-[90%] max-[1000px]:m-auto min-[1000px]:w-[45%] min-[1000px]:pl-2">
                    <mat-form-field class="example-full-width w-full m-auto mb-3">
                        <mat-icon matIconPrefix>mail</mat-icon>
                        <mat-label class="">Email</mat-label>
                        <input class="" type="text" matInput formControlName="email" [(ngModel)]="email">
                        <mat-error *ngIf="contactForm.controls['email'].hasError('email') && !contactForm.controls['email'].hasError('required')">
                            Bitte geben Sie eine gültige Email ein!
                        </mat-error>
                        <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
                            Email wird benötigt!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="flex justify-center w-[90%] m-auto">
                <mat-form-field class="w-full m-auto mb-3">
                    <mat-icon matIconPrefix>subject</mat-icon>
                    <mat-label class="">Betreff</mat-label>
                    <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="subject" [(ngModel)]="subject">
                    <mat-error *ngIf="contactForm.controls['subject'].hasError('required')">
                        Betreff wird benötigt!
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="flex justify-center w-[90%] m-auto">
                <mat-form-field class="w-full m-auto mb-3">
                    <mat-label>Ihre Nachricht an uns</mat-label>
                    <textarea matInput formControlName="message" [(ngModel)]="message" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
                    <mat-error *ngIf="contactForm.controls['message'].hasError('required')">
                        Eine Nachricht wird benötigt!
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="flex justify-center items-center w-[90%] m-auto pb-4">
                <input id="privacy" formControlName="privacy" aria-describedby="remember" type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded" required="">
                <label for="privacy" class="text-gray-900 pl-2">Ich bin mit der Speicherung meiner Daten zur Kontaktaufnahme einverstanden <span class="text-red-700">*</span></label>
            </div>
            

            <div class="block">
                <div class="flex justify-center">
                    <button type="submit" [attr.disabled]="contactForm.valid ? null : true"
                    class="group mx-2 relative py-1 px-4 overflow-hidden rounded-2xl bg-[var(--red)] disabled:bg-slate-500 text-lg font-bold disabled:cursor-not-allowed disabled:line-through text-white max-[700px]:mb-2">
                        Absenden
                        <div class="absolute inset-0 h-full w-full scale-0 rounded-2xl transition-all duration-300 group-hover:group-enabled:scale-100 group-hover:bg-white/30"></div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
