<div class="w-full">
  <p class="text-sm py-3">
    Wir, die Roscher GmbH, sind ein Unternehmen mit Tradition. Über 200 Jahre
    höchste Qualität in den Gewerken Heizung, Lüftung- und Klimatechnik, Sanitär
    sowie Wärme-Kraft-Kopplungen und erneuerbare intelligente Heizsysteme.
  </p>

  <div class="py-3">
    <h2 class="heading-sm font-medium">Deine Vorteile:</h2>
    <ul class="text-sm pl-5 pt-1">
      <li>
        <span class="font-medium">Arbeitsvertrag: </span>Du erhälst einen
        unbefristeten Arbeitsvertrag mit übertariflicher Bezahlung
      </li>
      <li>
        <span class="font-medium">Bei uns wird Teamwork großgeschrieben: </span
        >Wir wollen unseren Kunden jeden Tag ein Lächeln ins Gesicht zaubern.
        Das gelingt uns, weil wir uns gegenseitig bei unserer Arbeit
        unterstützen
      </li>
      <li>
        <span class="font-medium">Ausstattung: </span>Wir statten Dich mit allem
        aus, damit Du Deinen Job optimal erledigen kannst
      </li>
      <li>
        <span class="font-medium">Aufstiegschancen: </span>Wir wachsen - und
        wollen natürlich, dass Du mit uns wächst. Dabei unterstützen wir Dich
        und begleiten Deine persönliche sowie fachliche Entwicklung
      </li>
      <li>
        <span class="font-medium">Aufgabenbereich: </span>Dich erwarten
        abwechlungsreiche Projekte bei einem zuverlässigen und krisensicheren
        Unternehmen einsetzen
      </li>
      <li>
        <span class="font-medium">Erholung: </span>Wir strengen uns täglich an,
        aber wir nehmen uns auch die Zeit, neue Kräfte zu tanken
      </li>
      <li>
        <span class="font-medium">Firmenevents: </span>Großartige Firmenevents,
        bei denen wir unsere Erfolge feiern, dürfen natürlich auch nicht fehlen
      </li>
      <li>
        <span class="font-medium">Deine Arbeit ergibt Sinn: </span>Was wir
        täglich erreichen, hat einen positiven Einfluss auf Umwelt und
        Gesellschaft - werde Teil der Energiewende!
      </li>
    </ul>
  </div>

  <div class="py-3">
    <h2 class="heading-sm font-medium">Deine Aufgaben:</h2>
    <ul class="text-sm pl-5 pt-1">
      <li>
        Reparaturen, Instandhaltung, Modernisierung und Neuinstalla\on von
        Bädern, Heizungs- Klima und Lüftungsanlagen
      </li>
      <li>
        Du übernimmst die Verantwortung und Kommunikation mit dem Endkunden im
        Kundendienst
      </li>
      <li>
        Du bist für die Wartung, Installation von Heizsystemen und Anlagen
        zuständig
      </li>
      <li>
        Technische Facharbeiten, Routine und Basisleistungen verantwortest Du
      </li>
      <li>Du übernimmst Kontroll- sowie Prüfarbeiten</li>
      <li>
        Du erhälst umfangreiche Unterstützung durch unser eingespieltes Team
      </li>
    </ul>
  </div>

  <div class="py-3">
    <h2 class="heading-sm font-medium">Dein Profil:</h2>
    <ul class="text-sm pl-5 pt-1">
      <li>
        abgeschlossene Ausbildung als Heizungs- und Lüftungsbauer (m/w/d) oder
        Anlagenmechaniker HLS (m/w/d)
      </li>
      <li>
        Kenntnisse im Bereich der Heizungs- und Regelungstechnik für Öl- und
        Gasfeuerung sowie Erneuerbaren Energiesystemen
      </li>
      <li>
        Du bist zuverlässig, pünktlich und weißt, was selbstständiges Arbeiten
        bedeute
      </li>
      <li>
        Dich zeichnet ein gutes Einfühlungsvermögen im Umgang mit Kunden aus
      </li>
      <li>Du besitzt einen Führerschein der Klasse B</li>
    </ul>
  </div>
</div>
