<div class="-sm:w-screen sm:w-5/6 mx-auto sm:my-10 -sm:my-5 -sm:px-5 -sm:pt-5 sm:pt-10 border-t-2 border-gray-400">
    <h1 class="heading text-[var(--blue)] text-center pb-5">Klimasysteme</h1>

    <div class="pt-5 text-justify">
        <p class="text">Entdecken Sie die perfekte Lösung für ein angenehmes Raumklima mit unseren Klimageräten. Ideal
            für heiße Sommermonate sorgen sie für eine kühle Oase, selbst unter extremen Außentemperaturen. Flexibel und
            vielseitig einsetzbar, erfüllen unsere Klimageräte jeden Bedarf und überzeugen mit einer zusätzlichen
            Heizfunktion - perfekt für Übergangszeiten und Feriendomizile. Zudem entfeuchten Sie die Luft und sind mit
            hochwertigen Filtern ausgestattet, die Bakterien,
            Allergene und Gerüche eliminieren sowie Schimmel- und Rostbildung an der Inneneinheit verhindern.
            Dank moderner Invertertechnologie sind sie besonders energiesparend und regulieren
            Temperaturschwankungen effizient.
        </p>

        <div class="w-full bg-[var(--green)] rounded-md my-6 flex -sm:flex-col">
            <div class="text-white -sm:w-full flex flex-col align-middle justify-center px-4">
                <p class="-sm:text-center -sm:py-2">♻</p>
            </div>
            <div class="py-1 sm:pr-5 -sm:px-2">
                <p class="text text-white"><span class="underline">Bereit für die Zukunft:</span> Unsere Klimageräte
                    sind mit dem umweltfreundlichen
                    Kältemittel R32
                    ausgestattet und entsprechen bereits den ab 2025 geltenden F-Gase-Verordnungen.</p>
            </div>
        </div>
    </div>

    <div class="w-full flex -sm:flex-col -sm:pt-5 sm:pt-10">

        <!--Skizze-->
        <div class="sm:w-1/2 -sm:w-full">
            <img src="../../../../../../../assets/images/Klimasystem.png" alt="">
        </div>

        <!--Fakten und Vorteile-->
        <div class="sm:w-1/2 -sm:w-full sm:pl-20 -sm:px-5 sm:flex sm:flex-col sm:justify-center">
            <div class="sm:h-min sm:-mt-5">
                <div class="-sm:pt-5">
                    <h1 class="heading_sm text-[var(--blue)] pb-3">Zusatzfunktionen für Ihren Komfort:</h1>
                    <ul class="funktionen lg:text-xl">
                        <li><span class="underline">Sleep-Funktion:</span> Energiesparender und leiser Betrieb in der
                            Nacht</li>
                        <li><span class="underline">Timer-Funktion:</span> Individuelle Ein- und Ausschaltzeit</li>
                        <li><span class="underline">Turbo-Funktion:</span> Schnelle Kühl- oder Heizleistung auf
                            Knopfdruck</li>
                        <li><span class="underline">Schwenkfunktion:</span> Automatische Luftverteilung im ganzen Raum
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="w-full bg-[var(--green)] rounded-md my-6 flex -sm:flex-col">
        <div class="text-white -sm:w-full flex flex-col align-middle justify-center px-4">
            <p class="-sm:text-center -sm:py-2">♻</p>
        </div>
        <div class="py-1 sm:pr-5 -sm:px-2">
            <p class="text text-white"><span class="underline">Ökonomisch und ökoligsch:</span> In Kombination mit einer
                Photovoltaikanlage nutzen Sie selbst produzierten Strom für einen effizienten und umweltschonenden
                Betrieb!</p>
        </div>
    </div>

    <div class="pt-5 text-justify">
        <p class="text">Ob für einzelne Räume (Monosplit) oder mehrere Bereiche (Multisplit), unserer Systeme bieten
            flexible Lösungen. Wählen Sie unserer Klimageräte für ein rundum perfektes Raumklima, das Ihre Lebensqualität steigert. <br>
        </p>
    </div>

    <div class="w-full -sm:flex -sm:justify-center pt-5">
        <button routerLink="/kontakt" class="btn_blue bg-[var(--blue)">Termin buchen.</button>
    </div>

</div>