<div class="w-screen">

    <div class="sm:w-5/6 mx-auto sm:pt-10 -sm:pt-5 text-justify -sm:px-5">

        <h1 class="heading text-[var(--blue)] text-center pb-5">Lüftungssysteme</h1>

        <p class="text">Erfahren Sie die Revolution in Raumluftqualität und -effizienz: Mit unserer fortschrittlichen
            Wohraumbelüftung sichern Sie sich nicht nur ein <span class="font-semibold">Maximum an
            Luftqualität</span>, sondern auch den <span class="font-semibold">Schutz Ihrer Bausubstanz</span>
            und <span class="font-semibold">Ihrer Gesundheit</span>. Zusätzlich bieten wir Ihnen beste
            Luftqualität dank hochmoderner Pollen- und Feinstaubfilter - ideal für Allergiker. Entdecken Sie, wie Sie
            mit unserem System <span class="font-semibold">Ihre Heizkosten erheblich senken</span> und
            gleichzeitig den Wert Ihrer Immobilie steigern können. In Zeiten steigender Energiepreise ist eine
            effiziente Lüftungsanlage unverzichtbar. Setzen Sie auf Nachhaltigkeit und Wirtschaftlichkeit - mit unserer
            kontrolliereten Wohraumlüftung!
        </p>
    </div>

    <app-lueftung-zentrales-system></app-lueftung-zentrales-system>
    
    <app-lueftung-dezentrales-system></app-lueftung-dezentrales-system>

    <app-klima-system></app-klima-system>
</div>