<div class="h-[70vh] w-[20vw] mx-4 bg-gray-300 rounded-xl shadow-xl shadow-gray-500 flex flex-col items-center justify-between ease-in duration-300 
max-[700px]:h-auto max-[700px]:w-11/12 max-[700px]:mb-6 
min-[700px]:min-h-[500px] 
hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-500">

    <div class="pt-8 flex flex-col items-center">
        <img [src]="imageSource" [alt]="title" class="h-11 w-11 object-cover mb-2">
        <h2 class="text-2xl font-semibold text-[var(--red)]"> {{ title }} </h2>
    </div>

    <div class="h-1/2 px-2 min-[700px]:pt-4">
        <p class="text-center font-medium text-[var(--blue)]">
            {{ text }}
        </p>
    </div>

    <div class="flex justify-center my-5 min-[700px]:mb-10">
        <a class="px-4 py-3 bg-[var(--blue)] text-gray-200 text-xs font-semibold rounded hover:bg-[var(--red)]" href="#">Erfahre mehr...</a>
    </div>
    

</div>