<div class="w-screen h-screen overflow-visible bg-[var(--bg)]">
    <div class="w-full h-screen relative">
        <img src="../../../../assets/images/image_team.jpg" alt="" class="h-full w-full filter -sm:object-cover">
        
        <!--Überschrift-->
        <div class="absolute top-[60%] -sm:left-[50%] -sm:w-screen p-4 right-10 max-w-full -sm:-translate-x-1/2">
            <h1 class="heading heading_karriere sm:text-7xl text-right text-white -sm:text-center">Bewirb dich jetzt und<br>werde ein Teil unseres Teams</h1>
        </div> 
    </div>
</div>

