<div class="w-screen h-screen overflow-visible bg-[var(--bg)]">
    <div class="w-full h-screen relative">
        <img src="../../../../assets/images/image_team.jpg" alt="" class="h-full w-full filter -sm:object-cover">

        <!--Kasten schräg-->
        <div class="inclined-box sm:w-3/5 h-[calc(100%-5rem)] -sm:w-screen bg-white/60 absolute top-20">
            <div class="w-[80%] h-full">
                <div class="heading_karriere w-full h-full py-10 sm:pl-10 -sm:pl-5 ">
                    <h1 class="-sm:text-4xl sm:text-7xl text-left text-[var(--blue)] font-bold uppercase">Dein Handwerk<br>macht
                        den<br>Unterschied!</h1>

                    <p class="-sm:text-xl sm:text-3xl text-left font-medium sm:pt-10 -sm:pt-5">Du hast bereits Erfahrungen und hast
                        Lust auf neue Herausforderungen?
                        Oder stehst noch ganz am Anfang
                        deine Karriere?</p>

                    <p class="-sm:text-xl sm:text-3xl text-left font-medium sm:pt-10 -sm:pt-5">Wir unterstützen dich!</p>
                </div>
            </div>
        </div>

        <!--Label-->
        <div class="-sm:hidden absolute right-[5%] bottom-[10%]">
            <img src="../../../../assets/images/Seit_1804.png" alt="" class="h-96 w-96">
        </div>

    </div>
</div>