<div class="w-screen">
    <h1 class="heading text-[var(--blue)] text-center sm:pt-10 -sm:pt-5 pb-5">Moderne Sanitäranlagen</h1>

    <div class="sm:w-5/6 mx-auto border-b-2 sm:pb-10 -sm:pb-5 border-gray-400">
        <p class="text">
            Gestalten Sie Ihr Badezimmer zu einem Ort der Entspannung mit unserer Auswahl an Badkeramik.
            Unsere Produkte bieten Qualität, Funktionalität und Komfort in ansprechendem Design. Ob für
            Neubauten, Modernisierung oder um Akzente zu setzen – unsere Produkte unterstützen Sie dabei,
            ein langlebiges und stilvolles Ambiente zu schaffen. Durch individuelle Beratung können Sie Ihren
            eigenen Stil umsetzen und aus einer Vielzahl von Einrichtungsoptionen Ihr Badezimmer - auch in
            einer All-in-One Lösung - gestalten. Lassen Sie Ihren Traum von einem neuen Bad Wirklichkeit werden
            – Ihr Wunsch unsere Expertise!
        </p>
    </div>

    <app-image-slider></app-image-slider>

    <app-sanitaer-section1></app-sanitaer-section1>

    <app-sanitaer-section2></app-sanitaer-section2>

    <app-sanitaer-section3></app-sanitaer-section3>
</div>