<div class="w-full">
  <p class="text-sm py-3">
    Wir, die Roscher GmbH, sind ein Unternehmen mit Tradition. Über 200 Jahre
    höchste Qualität in den Gewerken Heizung, Lüftung- und Klimatechnik, Sanitär
    sowie Wärme-Kraft-Kopplungen und erneuerbare intelligente Heizsysteme.
  </p>

  <div class="py-3">
    <h2 class="heading-sm font-medium">Deine Vorteile:</h2>
    <ul class="text-sm pl-5 pt-1">
      <li>
        <span class="font-medium">Arbeitsvertrag: </span>Du erhälst einen
        unbefristeten Arbeitsvertrag mit übertariflicher Bezahlung
      </li>
      <li>
        <span class="font-medium">Arbeitszeit: </span>Bei uns endet Deine
        Vollzeit-Woche nach 40 Stunden
      </li>
      <li>
        <span class="font-medium">Ausstattung: </span>Wir statten Dich mit allem
        aus, damit Du Deinen Job optimal erledigen kannst
      </li>
      <li>
        <span class="font-medium">Aufstiegschancen: </span>Wir wachsen - und
        wollen natürlich, dass Du mit uns wächst. Dabei unterstützen wir Dich
        und begleiten Deine persönliche sowie fachliche Entwicklung
      </li>
      <li>
        <span class="font-medium">Team: </span>Du arbeitest in einem flexiblen
        und motivierten Team auf Erfolgskurs und kannst so Deine Stärken gezielt
        einsetzen
      </li>
      <li>
        <span class="font-medium">Sicherheit: </span>Wir sind ein krisensicheres
        Unternehmen mit vielseitigen Entwicklungsmöglichkeiten
      </li>
      <li>
        <span class="font-medium">Firmenevents: </span>Großartige Firmenevents,
        bei denen wir unsere Erfolge feiern, dürfen natürlich auch nicht fehlen
      </li>
      <li>
        <span class="font-medium">Und das Beste ist: </span>Durch unsere kurzen
        Dienstwege bleibt Dir mehr Zeit für die grundlegende Arbeit - Jeden
        Abend zu Hause
      </li>
    </ul>
  </div>

  <div class="py-3">
    <h2 class="heading-sm font-medium">Deine Aufgaben:</h2>
    <ul class="text-sm pl-5 pt-1">
      <li>
        Du übernimmst den Bau, die Wartung und Instandsetzung von modernen Heizungssystemen und Lüftungsanlagen
      </li>
      <li>
        Zudem bist du für den Bau, die Wartung und Instandsetzung von Sanitäranlagen sowie anderen versorgungstechnischen Anlagen verantwortlich
      </li>
      <li>
        Die Montage von Heizgeräten liegen ebenfalls in Deinem Aufgabenbereich
      </li>
      <li>
        Du kümmerst Dich um die Installation von Gas-, Wasser und Luftversorgungssystemen
      </li>
    </ul>
  </div>

  <div class="py-3">
    <h2 class="heading-sm font-medium">Dein Profil:</h2>
    <ul class="text-sm pl-5 pt-1">
      <li>
        Abgeschlossene Berufsausbildung im Bereich Sanitär- und Heizungsanlagen
      </li>
      <li>
        erweiterte Kenntnisse oder Berufserfahrung im Bereich Sanitär- und
        Heizungsanlagen wünschenswert
      </li>
      <li>Führerschein Klasse B wäre optimal</li>
      <li>Du arbeitest gerne im Team</li>
      <li>Du überzeugst mit handwerklichem Geschick und wir können uns auf Dich verlassen</li>
    </ul>
  </div>
</div>
