<div class="service-card sm:max-w-[300px] h-80 rounded-md shadow-md bg-[var(--blue)] -sm:my-4 -sm:w-[80vw] -sm:mx-auto flex flex-col justify-between overflow-hidden">
    <div>
        <div class="overflow-hidden">
            <img [src]="imageSrc" alt="" class="service-image object-cover object-center w-full rounded-t-md h-56 dark:bg-gray-500 ease-in duration-500">
        </div>
        <div class="mt-6 mb-2">
            <h2 class="text-xl font-semibold text-white text-center">{{title}}</h2>
        </div>
        <p class="text-white text-center">{{text}}</p>
    </div>
    <div class="flex justify-center pt-2">
        <a href="" class="text-white underline pb-1">Mehr...</a>
    </div>
</div>
