<section class="w-screen overflow-hidden bg-gray-100">
    <div class="w-full h-full">
        <div class="pt-6 min-[700px]:pt-12 pb-2 text-center">
            <h2 class="text-3xl font-semibold text-[var(--blue)] min-[700px]:text-4xl">Unsere <span class="text-[var(--red)]">Partner</span> im Überblick:</h2>
        </div>

        <div class="w-full h-full py-4 justify-center block 
        min-[700px]:flex min-[700px]:flex-wrap min-[700px]:pt-10">

            <app-partner-element name="Arbonia" imageSource="../../assets/partners/arbonia_logo.png" link="http://www.arbonia.de"></app-partner-element>
            <app-partner-element name="Green Engineers" imageSource="../../assets/partners/engineers_green_logo.png" link="http://www.green-engineers.de"></app-partner-element>
            <app-partner-element></app-partner-element>
            <app-partner-element></app-partner-element>
            <app-partner-element></app-partner-element>
            <app-partner-element></app-partner-element>
            <app-partner-element></app-partner-element>
            <app-partner-element></app-partner-element>
            <app-partner-element></app-partner-element>

        </div>

    </div>
</section>
