<section class="w-screen overflow-hidden">
    <div class="my-10 min-[700px]:my-20">
        <h1 class="heading text-center text-[var(--blue)]">Über 2000 Kunden vertrauen uns bereits</h1>
        <p class="text text-center max-w-[80vw] mx-auto">Ein zuverlässiger Kundendienst sowohl in gut durchdachten und lang geplanten Projekten sowie in Notfällen - wenn Sie am dringendsten benötigt werden  - für uns selbstversätndlich!</p>

        <img src="../../../../assets/images/image_kunden.jpg" alt="" class="object-cover w-full max-h-[70vh] mt-8 rounded dark:bg-gray-500">
    </div>
</section>