<section class="w-full">
    <div class="my-10 min-[700px]:my-20">
        <h1 class="font-bold text-[var(--blue)] text-4xl text-center">Über 2000 Kunden vertrauen uns bereits</h1>
        <p>Ein zuverlässiger Kundendienst sowohl in gut durchdachten und lang geplanten Projekten sowie in Notfällen - wenn Sie am dringendsten benötigt werden  - für uns selbstversätndlich!</p>

        <img src="https://source.unsplash.com/random/360x240" alt="" class="object-cover w-full h-auto mt-8 rounded max-h-96 dark:bg-gray-500">
    </div>
</section>