<div class="sm:w-5/6 mx-auto">
    <h1 class="heading_sm text-[var(--blue)] text-center -sm:pt-5 sm:pt-10 pb-5 -sm:px-5">All-in-One Lösung für Ihr neues Bad</h1>

    <div class="pb-5">
        <p class="text text-justify -sm:px-5">
            Träumen Sie von einem neuen Bad? - Wir unterstützen Sie dabei!
            Unser Team verfügt über die Erfahrung und das Fachwissen, um Ihre Vision in die Realität
            umzusetzen. Ob eine großzügige Walk-In-Dusche, eine elegante Badewanne oder energieeffiziente
            Lösungen – wir sind bereit, Ihre Träume zu verwirklichen.
        </p>
    </div>

    <div>
        <img src="../../../../../../../assets/images/image_sanitaer1.jpg" alt="" class="h-[80vh] w-full object-cover">
    </div>
</div>