<div class="-sm:w-screen sm:w-5/6 mx-auto sm:my-10 -sm:my-5 -sm:px-5 -sm:pt-5 sm:pt-10 border-t-2 border-gray-400">
    <h2 class="text-center underline font-medium text-2xl text-[var(--blue)]">Dezentrales Lüftungssystem</h2>
    <h3 class="text-center">Ideal zum Nachrüsten!</h3>

    <div class="w-full flex flex-row-reverse -sm:flex-col -sm:pt-5 sm:pt-10">

        <!--Skizze-->
        <div class="sm:w-1/2 -sm:w-full">
            <img src="../../../../../../../assets/images/Dezentrales_Lueftungssystem.png" alt="">
        </div>

        <!--Fakten und Vorteile-->
        <div class="sm:w-1/2 -sm:w-full sm:pl-20 -sm:px-5 sm:flex sm:flex-col sm:justify-center">

            <div class="sm:h-min sm:-mt-5">
                <div class="-sm:pt-5">
                    <ul class="fakten lg:text-xl">
                        <li><span class="font-semibold">Direkte Installation</span> in Räumen mit Lüftungsbedarf</li>
                        <li><span class="font-semibold">Ständiger Luftaustausch</span></li>
                        <li><span class="font-semibold">Automatische Änderung</span> der <span
                                class="font-semibold">Strömungsrichtung</span> aus
                        </li>
                        <li>Wechsel zwischen Abtransport <span class="font-semibold">verbrauchter Luft nach außen </span>und
                            Zufuhr <span class="font-semibold">frischer Luft nach innen</span></li>
                    </ul>
                </div>
    
                <div class="-sm:pt-5 pt-10">
                    <ul class="vorteile lg:text-xl">
                        <li>sehr hohes Energieeinsparungspotenzial</li>
                        <li class="">zuverlässige Ableitung von Feuchtigkeit, Schadstoffen und Gerüchen</li>
                        <li>optimale Kopplung mit Heizgeräten des gleichen Herstellers</li>
                    </ul>
                </div>
            </div>
        

        </div>
    </div>
</div>