<section class="w-screen overflow-hidden bg-gray-100">
    <div class="w-full h-full">
        <div class="pt-6 sm:pt-12 pb-2 text-center">
            <h2 class="text-3xl font-semibold text-[var(--blue)] sm:text-4xl">Unsere <span class="text-[var(--red)]">Historie</span> seit 1804:</h2>
        </div>

        <div class="mx-auto pb-10 py-4
        sm:w-[80%] sm:pt-10">
            <div class="space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px before:h-full before:w-0.5 before:bg-gradient-to-b before:from-slate-200 before:via-slate-400 before:to-slate-200
            sm:before:mx-auto sm:before:translate-x-0">

                <app-history-element 
                    [left]="true"
                    title="Firmengründung (1804)"
                    message="Gründung der Firma als Klempner und Kupferschmiede durch Herrn Paul Lange im Hinterhof, Brückenstraße 10 in Hainichen"
                    [image]="false">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1804"
                    message="Kauf der Firma durch Familie Preuße, Anbau eines Ladengeschäftes. Firmentradition durch Fam. Preuße bis Anfang 20.Jht."
                    [image]="true"
                    imageSource="../../assets/images/hist_1.jpg"
                    imageHeight="h-[40vh]"
                    translateTop="sm:-mt-24">
                </app-history-element>
                
                <app-history-element 
                    [left]="true"
                    title="1912"
                    message="wurde die Firma an Hermann Enge (Schwiegersohn) verkauft."
                    [image]="false"
                    translateTop="sm:-mt-[20vh]"
                    paddingBottom="sm:pb-4">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="1920 - 1932"
                    message="war Hermann Preuße Obermeister der Klempnerinnung des königlichen Amtsbezirkes Hainichen.
                    Erweiterung des Ladengeschäftes Brückenstraße 10, erste Sanitärausstellung eröffnet. Auslagerung von Werkstatt und Lager in die Brauhofstraße 10. Sohn Walter Enge stellte sich auf die Heizungs-und Sanitärinstallation ein. Von 1924-1926 besuchte er die Höhere Deutsche Fachschule für Metallverarbeitung und Installation in Aue. Dadurch war es möglich Heizungsanlagen zu planen und installieren."
                    [image]="false">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1930"
                    message="legte er [Walter Enge] vor der Meisterprüfungskommission der Gewerbekammer in Chemnitz seine Meisterprüfung ab."
                    [image]="true"
                    imageSource="../../assets/images/hist_meisterbrief.jpeg"
                    imageHeight="h-[60vh]"
                    translateTop="sm:-mt-32">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="1943"
                    message="Walter Enge kaufte die Firma von seinem Vater ab. Er projektierte und installierte Heizungsanlagen, Sanitärinstallationen für große Firmen, Fabriken und Privatkunden der Stadt Hainichen."
                    [image]="true"
                    imageSource="../../assets/images/hist_3.jpeg"
                    translateTop="sm:-mt-60">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1954"
                    message="wurde das 150-jährige Bestehen der Firma gefeiert"
                    [image]="false"
                    paddingBottom="sm:pb-4"
                    translateTop="sm:-mt-40">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1957 - 1967"
                    message="Walter Enge kauft das Grundstück Neumarkt 7 in Hainichen, um dort eine größeres ,modernes Werkstattgebäude zu errichten. Walter Enge verstarb 1967, der dem Unternehmen mit seinem Arrangement zu Großen Ansehen in der Region verhalf."
                    [image]="false">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="1957 - 1967"
                    message="Walter Enge kauft das Grundstück Neumarkt 7 in Hainichen, um dort eine größeres ,modernes Werkstattgebäude zu errichten. Walter Enge verstarb 1967, der dem Unternehmen mit seinem Arrangement zu Großen Ansehen in der Region verhalf."
                    [image]="false"
                    translateTop="sm:-mt-12">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1967 - 1973"
                    message="Bernd Roscher erwarb das Unternehmen von seinem Schwiegervater. Zum Obermeister der Heizungs-und Sanitärinnung wurde Bernd Roscher 1973 gewählt. Dieses Amt führte er erfolgreich bis 2015 aus."
                    [image]="false"
                    translateTop="sm:-mt-12">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="1974"
                    message="wurde die komplette Firma mit Büroräumen, Lager und Werkstatt in das Objekt Neumarkt 7 verlegt. Es wurde in moderne Maschinen und Fahrzeuge investiert."
                    [image]="false"
                    translateTop="sm:-mt-12">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1982"
                    message="Die Firma Walter Enge wird in den Handwerksbetrieb Bernd Roscher umbenannt."
                    [image]="false"
                    translateTop="sm:-mt-12">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="1984 - 1991"
                    message="Uwe Roscher stieg 1984 nach Ausbildung zum Klempner und Installateur im elterlichen Unternehmen ein. Die Meisterausbildung beendete er 1986. Sein Fachschulstudium zum Heizungs-Lüftungs-Sanitäringenieur beendete er 1991 erfolgreich in Erfurt."
                    [image]="false"
                    translateTop="sm:-mt-6">
                </app-history-element>

                <app-history-element 
                    [left]="false"
                    title="1992"
                    message="Die Gewerberäume wurden durch Kauf des Grundstücks Neumarkt 5 erweitert und ein Ladengeschäft mit Badausstellung eingerichtet. 1992 wurde die Firma in eine GmbH gewandelt, die Ihre Leistungen bis zum heutigen Tag sachsenweit anbietet."
                    [image]="true"
                    imageSource="../../assets/images/hist_4.jpeg"
                    translateTop="sm:-mt-24">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="1992 - 2005"
                    message="wurde durch das Unternehmen erstmals in der Region die Gasbrennwerttechnik eingeführt, 2001 das thermische Solar und 2005 die ersten Blockheizkraftwerke (KWK) installiert."
                    [image]="false"
                    translateTop="sm:-mt-60"
                    paddingBottom="sm:pb-4">
                </app-history-element>

                <app-history-element 
                    [left]="true"
                    title="2005"
                    message="2005 übergibt Bernd Roscher die Geschäftsführung an Sohn Uwe. Das Unternehmen beschäftigt aktuell zur Geschäftsleitung 3 Büro-Mitarbeiter, 2 Kundendienstmonteure und 8 HLS Monteure. Familienunternehmen, welches den Sitz im Zentrum der Gellertstadt Hainichen hat, überstand zwei Weltkriege sowie mehrere Inflationszeiten und die DDR. Es ist somit eines der ältesten Handwerksfirmen der Region Sachsens."
                    [image]="false">
                </app-history-element>

            </div>
        </div>


    </div>
</section>

