<section class="w-screen h-screen overflow-visible bg-[var(--bg)]">
    <div class="w-full h-screen relative">
        <img src="../../../../assets/images/landing-main.jpg" alt="" class="h-full w-full filter saturate-50 -sm:object-cover">
        
        <!--Überschrift-->
        <div class="absolute top-[40%] sm:left-[50%] max-w-full:">
            <h1 class="heading text-right text-white -sm:text-center">Tradition vereint mit <br> Sorgfalt und Zuverlässigkeit</h1>
        </div> 
    </div>
</section>
